html {
    /*避免进度条占据视口空间*/
    width: 100vw;
    overflow: hidden;
}

body {
    margin: 0;
}

* {
    user-select: none;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.25);
}
